body {
    background-color: greenyellow;
}

.hidden {
    display: none;    
}

ul {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    margin: 2%;
    border: 2px solid rosybrown;
    overflow: scroll;
}

li p {
    color: pink;
    margin-bottom: 0;
}

li h2 {
    font-size: 100%;
    margin-top: 0;
}

li img {
    width: 50%;
    align-self: center;

}

#user-display-section {
    display: flex;
    border: 2px dotted hotpink;
    width: 43%;
    padding: -5%;
    height: 60px;
}

#user-display-section img {
    width: auto;
    height: 100%;
    border-radius: 100%;
}

#signout-button {
    align-self: center;
}